.DS_Store
.thumbs.db

.idea
.vscode
nbproject

vendor
node_modules

.php-cs-fixer.cache
.phpcs.cache

dist

!/docker/www/
/docker/www/**
!/docker/www/.gitkeep

/src/com_papermanager/admin/papermanager.xml
