.icon-48-papers {
    background-image: url(../images/l_papers.png);
    padding-left:60px!important;
}
.icon-48-paper {
    background-image: url(../images/l_papers.png);
    padding-left:60px!important;
}
.icon-48-authors {
    background-image: url(../images/l_authors.png);
    padding-left:60px!important;
}
.icon-48-author {
    background-image: url(../images/l_authors.png);
    padding-left:60px!important;
}
.icon-48-categories {
    background-image: url(../images/l_categories.png);
    padding-left:60px!important;
}
.icon-48-category {
    background-image: url(../images/l_categories.png);
    padding-left:60px!important;
}
